/*body{
background-image: url("images/mascota_rio.jpeg");
object-position: -20%  50%;
}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Header*/
header{
    height: 550px;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0 0 4em;
}
.imagenes {
    padding: 0;
    position: absolute;
    width: 75%;
    margin-right: -1.11605%;
    margin-left: -1.11605%;
    overflow: hidden;
    border-radius: 300px 0 0 300px;
}
.imagenes ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: cambio 20s infinite;
    animation-timing-function: ease-out;
}
.imagenes li{
    width: 100%;
    list-style: none;
}
.imagenes img{
    width: 100%;
}
@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
.contentHeader{
    min-width: 100px;
    margin: auto;
    padding: 30px 0;
    color: rgb(61, 61, 61);
    position: relative;
    left: -16em;
}
.contentHeader h1{
    font-size: 30px;
}
.conte {
width: 10em;;
}
.conte p{
    font-size: 15px;
    margin: 1em 0;
}
.conte a{
    color: white;
    text-decoration: none;
    background-color: yellowgreen;
    padding: 4px 20px ;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px;
}
.rioImage{
    height: 183px;
    width: 156px;
    border-radius: 0px; 
    display: flex;
    position: relative;
}
.cabecera {
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse
}
/*Fin de Header*/

.cabecera h1{
    font-family: sans-serif;
}
.general{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2em;
}

/*contador*/
#contador{
    background: #40D861 ;
    border-radius: 20px;
    height:110px;
    left: 28px; 
    opacity: 0.73;
    margin: 0.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*Cards deportivas*/
.contenedor{
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    width: 90%;
}

.wrap{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.card-wrap{
	margin: 0.2em;
	-webkit-perspective: 800;
	perspective: 800;
}

.card{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    height: 18.2em;
    width: 13.5em;
    border-radius: 1em;
    object-fit: cover;
    margin: 2px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
}

.cara, .contraCara{
	width: 100%;
	height: 100%;
    border-radius: 1em;
	position: absolute;
	top: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
    background-color: rgb(255, 255, 255);
}

.contraCara{
	width: 100%;
    background-color: #2e5d7cc7;
    background-size: cover;
    -webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
}

.contraCaraContent{
    overflow: auto;
    margin: 1em 1em 1em 0.9em;
    color: white;

}

.contraCaraContent p{
    border-bottom: solid 1px rgb(156, 154, 154);
    padding: 11px 0;
    
}

.contraCaraContent p:hover{
color: rgb(77, 216, 77);
background-color: darkslategray;
}


.cara{
	display: flex;
	color: #fff;
	font-family: "open sans";
    width: 100%;
    background-image: url(./images/cara.png);
    background-size: cover;
    position: relative;
}

.card-wrap:hover .card{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}


.bandera{
    position: absolute;
    top: 2.5em;
    left: 8.6em;
    width: 46px;
    height: 30.9px;
    background-image: url(./images/bandera\ juegos\ olímpicos.svg);
    background-size: cover;
   }

.caraNombre{
    width: 8.1em;
    position: absolute;
    left:3.8em;
    top: 12.8em;
}

.caraNombre h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-style: italic;
    color: rgb(255, 255, 255);
    letter-spacing: 0em;
    text-align:right;
    
}

.avatar{
position: relative;
left: 1em;
top: 2em;
}

/* La organización de FLEXBOX para todos los filtros */
.box{
    display: flex;
    flex-direction: column;
    width: 450px;
}

.box h2 {
    font-family: sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    text-align: left;
    color: rgb(255, 255, 255);
    background: #10415bbd;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    height: 35px;
    width: 310px;
    left: 68px;
    margin: 0.5em;
}

.icono{
    margin: -0.2em 0.4em;
}

.iconoGender{
    margin: -0.9em 0.4em;
}

.opciones{
    position: relative;
    left: 4em;
    top: -2.2em;
}

.seleccion {
    background:rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 1);
    width: 200px;
    position: relative;
    left: 2em;
    margin: 0.5em ;

}

/* Historia 5 - Yess */
.boxBuscar{
    height: 150px;
    background: #DD4040;
    opacity: 0.73;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0.2em;
    position: relative;
    left:auto;
}

.boxGenero{
    background: #40D861 ;
    border-radius: 20px;
    height:110px;
    left: 28px; 
    opacity: 0.73;
    margin: 0.2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boxPais{
    background: #40A7DD;
    opacity: 0.73;
    border-radius: 20px;
    margin: 0.2em;
}

.boxDeporte{
    background: #C9DF1F;
    opacity: 0.73;
    border-radius: 20px;
    margin: 0.2em;
}


.boxMedallero{
    background: #FFE351;
    opacity: 0.73;
    border-radius: 20px;
    margin: 0.em;
}

.container-fluid{
    margin:auto;
    text-align:center;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;   
}

ul.pagination li {
    display: inline;}

ul.pagination li a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
ul.pagination li a.active {
    background-color: #6092dd;
    color: white;
}

ul.pagination li a:hover:not(.active) {
    background-color: #ddd;}

ul.pagination li a {
    transition: background-color .3s;
}

/* footer*/

.footer {
	background: #6092dd;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	.footer p {
		margin: 0;
        font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}
	
	.footer a {
		color: white;
        font-family:'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	}