.rioImage{
    height: 183px;
    width: 156px;
    left: 36px;
    top: 73px;
    border-radius: 0px; 
}

.cabecera h1{
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
  
    letter-spacing: 0em;
    text-align: left;

}

.imageAtleta{
left: 399px;
top: -110px;
border-radius: 1500px;

}