/*body{
background-image: url("images/mascota_rio.jpeg");
object-position: -20%  50%;
}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.rioImage{
    height: 183px;
    width: 156px;
    left: 36px;
    top: 73px;
    border-radius: 0px; 
}

.cabecera h1{
    font-family: sans-serif;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 0em;
    text-align: left;
}

.cabecera h1{
    font-family: sans-serif;
}

.imageAtleta{
border-radius: 400px;
}

.general{
    display: flex;
    flex-direction: row-reverse;
}
/*Cards deportivas*/

.contenedor{
    margin:auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;
    width: 90%;
}

.wrap{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.card-wrap{
	margin: 0.2em;
	-webkit-perspective: 800;
	perspective: 800;
}

.card{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    height: 18.2em;
    width: 13.5em;
    border-radius: 1em;
    object-fit: cover;
    flex-direction: column;
    margin: 2px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s ease;
	transition: .7s ease;
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
	box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.65);
}

.contraCara, .cara{
	width: 100%;
	height: 100%;
    border-radius: 1em;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
    background-color: cornsilk;
}

.contraCara{
	width: 100%;
    background-image: url(./images/contra_cara.png);
    background-size: cover;
}

.cara{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	padding: 15px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-align: center;
	color: #fff;
	font-family: "open sans";
    background-size: cover;
}

.card-wrap:hover .card{
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.cara h1{
    font-size: 20.28px;
    font-style: italic;
    width: 130px;
    position: relative;
    top: 5.3em;
    left: 4.4em;
    letter-spacing: 0em;
    text-align: right;
}

/* La organización de FLEXBOX para todos los filtros */
.box{
    display: flex;
    flex-direction: column;
}

.box h2 {
    font-family: sans-serif;
    font-style: italic;
    font-weight: 400;
    text-align: left;
    color: lavender;
    background: #10415bbd;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    height: 45px;
    width: 310px;
    left: 68px;
    margin: 1em;
}

.seleccion {
    background:rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 1)

}

/* Historia 5 - Yess */
.boxBuscar{
    height: 182px;
    width: 501px;
    background: #DD4040;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2px;
}

.boxGenero{
    background: #40D861 ;
    border-radius: 20px;
    height: 182px;
    width: 501px;
    left: 28px; 
    opacity: 0.73;
    margin: 2px;
}



.boxPais{
    width: 501px;
    background: #40A7DD;
    opacity: 0.73;
    border-radius: 20px;
    margin: 2px;

}

.boxDeporte{
    width: 501px;
    background: #C9DF1F;
    opacity: 0.73;
    border-radius: 20px;
    margin: 2px;
}


.boxMedallero{
    width: 501px;
    background: #FFE351;
    opacity: 0.73;
    border-radius: 20px;
}